
.jumbotron{color:#385623;}
.green{
		background-color: #385623;
		padding: 30px;
	}
	.lightgrey{
		background-color: #ffffff;
		padding: 60px;
	}
	.stack{white-space: pre;}
	.well{background:#000;}
	.text-info{color:#000}a.text-info:focus,a.text-info:hover{color:#000} 
	.btn-link{font-weight:400;color:#8a6d3b;border-radius:0}
